<!DOCTYPE html>
<html>

<head>
	<title>$cert1</title>
	<meta charset="utf-8">
</head>


<body style="margin: 0px; padding: 0px;">
	<table style="line-height:1.2; border:0; border-collapse:collapse;border-spacing:0; margin:0 auto; padding:0; font-size:100%; font:inherit; font-family: 'Noto Sans KR', sans-serif; vertical-align:middle; border: 1px solid #e0e0e0;" width="790">
		<tbody style="box-shadow: 1px 3px 10px #ccc; border: 1px solid #e0e0e0;">
			<tr style="width:790px; width: 100%; background: #fff; border-top: 5px solid #2169a1;">
				<td width="12"></td>
				<td style="vertical-align:bottom; height:60px; padding: 0 0 10px 25px;">
					<a href="$webUrl">
						<img src="http://cmedgn.cmesoft.co.kr:801/planbit_mail/images/planbit_logo.png" alt=""/>
					</a>
				</td>
				<td width="100"></td>
				<td></td>
				<td width="12"></td>
			</tr>

			<!--타이틀부분-->
			<tr>
				<td width="12"></td>
				<td colspan="3" style="font-size:30px; color:#000; font-weight:bold; padding: 15px 20px 0px 25px; position: relative; vertical-align: middle;">
					<table style="width: 715px;">
						<tr>
							<th style="text-align: left;">
								<span style="font-size:30px; vertical-align: middle; display: inline-block;">
									<span style="color: #176096;">
										$cert1
									</span>
								</span>
							</th>
							<td style="text-align: right; "></td>
						</tr>
					</table>
				</td>
				<td style="width:12px;"></td>
			</tr>
			<tr>
				<td colspan="5" height="10"></td>
			</tr>

			<tr>
				<td colspan="5" height="130">
					<table style="border: 1px solid #ecf0f2; width: 710px; margin-left: 40px; font-size: 16px; line-height: 36px;">
						<tr style="display: inline-table; width: 100%;">
							<th style="text-align: left; padding: 5px 15px 0; background: #ecf0f2;" width="30%">$cert2</th>
							<td style="text-align: right; padding: 5px 15px 0;">$regDt</td>
						</tr>
						<tr style="display: inline-table; width: 100%;">	
							<th style="text-align: left; padding-left:15px; background: #ecf0f2;" width="30%">$cert3</th>
							<td style="text-align: right; padding-right:15px;">$certGrade / $certSubGrade</td>
						</tr>
						<tr style="display: inline-table; width: 100%;">	
							<th style="text-align: left; padding: 0 15px 5px; background: #ecf0f2;" width="30%">$cert4</th>
							<td style="text-align: right; padding: 0 15px 5px;">$certMsg</td>
						</tr>
						<tr style="display: inline-table; width: 100%;">	
							<th style="text-align: left; padding: 0 15px 5px; background: #ecf0f2;" width="30%">$cert5</th>
							<td style="text-align: right; padding: 0 15px 5px;">$cert7</td>
						</tr>
						<tr style="display: inline-table; width: 100%;">	
							<th style="text-align: left; padding: 0 15px 5px; background: #ecf0f2;" width="30%">$cert6</th>
							<td style="text-align: right; padding: 0 15px 5px;">$resDt</td>
						</tr>
					</table>
				</td>
			</tr>
			
			<tr>
				<td colspan="5" height="10"></td>
			</tr>

			<tr>
				<td width="12"></td>
				<td colspan="3" style="font-size:15px; color:#000; padding: 15px 0 10px 5px; padding-left: 28px;">
					$title1
				</td>
				<td width="12"></td>
			</tr>

			<tr>
				<td colspan="5" height="30"></td>
			</tr>

			<!--하단부분-->
            <!--하단부분-->
            <tr style="height:85px; background: #ecf0f2;">
                <td width="12"></td>
                <td colspan="2" style=" font-size:12px; color:#616161; padding: 25px;">
                    $title2
                    <br/>
                 <!--   $title4
                    <br/>-->
                    $title5
                    <br/>
                </td>
                <td></td>
                <td width="12"></td>
            </tr>
			
		</tbody>
	</table>

</body>

</html>
